version: "3"
services:
    app:
        build: 
            .
        ports:
            - "${PORT}:3000"
        environment:
            NEXT_PUBLIC_API_KEY: ${NEXT_PUBLIC_API_KEY}
            NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
            NEXT_PUBLIC_USER_ID: ${NEXT_PUBLIC_USER_ID}