.container {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow: auto;
    margin-bottom: 2rem;
}

.chip {
    flex-grow: 0;
    flex-shrink: 0;
}
