@import 'styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.list,
.grid-list {
    gap: 1.5rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    @media (max-width: $screen-md) {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

.action {
    width: auto;
}
