@import 'styles/variables.scss';

.fieldset {
    &--border {
        border: $border-width solid var(--foreground);
        border-radius: 0.5rem;
        padding: 1rem;
        padding-bottom: 1.25rem;
    }
}

.legend {
    display: inline-block;
    width: fit-content;
}

.title {
    &--disabled {
        color: var(--foreground-invisible);
    }
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
