.title {
    margin-bottom: 2rem;
}

.subcategories {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.subcategory {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.subcategory-link {
    padding: 0 !important;
}

.subcategory-details {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    max-width: fit-content;
}
