.divider {
    width: 100%;
    background-color: var(--foreground-invisible);

    &--minorColor {
        background-color: var(--background-invisible);
    }

    &--middleColor {
        background-color: var(--middle-color);
    }

    &--vertical {
        height: 100%;
    }
}
