.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.balances-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-left: 1.75rem;
    list-style: disc;
}
