@import 'styles/variables.scss';
@import 'styles/extends.scss';

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-drawer;
    width: 100vw;
    height: 0;

    background: var(--backdrop);
    opacity: 0;
    overflow: hidden;
    transition: opacity $base-transition-duration linear 0s,
        height 0s linear $base-transition-duration;

    &--open {
        height: 100vh;
        opacity: 1;
        transition: opacity $base-transition-duration linear
                $base-transition-duration,
            height 0s linear 0s;
    }

    &--right {
        background: var(--backdrop-reverse);
    }
}

.content-wrapper {
    --padding: #{$default-spacing-md};

    @media (max-width: $screen-md) {
        --padding: #{$default-spacing-sm};
    }

    position: fixed;
    top: 0;
    left: -$drawer-size;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: $drawer-size;
    padding: var(--padding);

    background: var(--background);
    overflow: hidden;
    transition: left $base-transition-duration linear 0s;

    .header {
        margin: 0 calc(-1 * var(--padding)) $spacing-2;
    }

    &--with-header {
        padding-top: 0;
    }

    &--open {
        left: 0;
        transition: left $base-transition-duration linear
            $base-transition-duration;
    }

    &--right {
        left: auto;
        right: -$drawer-size;
        transition: right $base-transition-duration linear 0s;

        &.content-wrapper--open {
            right: 0;
            transition: right $base-transition-duration linear
                $base-transition-duration;
        }
    }
}

.content {
    flex-grow: 1;
    overflow-y: auto;

    &--compressed {
        flex-grow: 0;
        height: 84%;
    }
}

.header {
    @extend .header-size-extend;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $border-width solid var(--foreground-invisible);

    &--compressed {
        @extend .header-compressed-size-extend;
    }
}

.close-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: $default-spacing-xl;
    align-self: center;
}
