@import 'styles/variables.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-4;
    height: 50px;
    border-radius: $border-radius-md;

    &--active {
        background-color: var(--foreground-opacity);
    }

    &--disabled {
        svg {
            fill: var(--disabled-drop-zone);
        }
    }
}
