@import 'styles/variables.scss';

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-1;
    width: fit-content;
    min-width: 6.25rem;
    min-height: 2.75rem;
    padding: $spacing-1 $spacing-3;
    border-radius: $border-radius-xl;

    &--contained {
        background-color: var(--foreground-invisible);
    }

    &--outlined {
        border: solid $border-width var(--foreground-opacity);
    }

    &--small {
        min-width: 5.625rem;
        min-height: 2rem;
        padding: $spacing-0-5 $spacing-1;
    }

    &--big {
        min-width: 7.5rem;
        min-height: 3.25rem;
        padding: $spacing-2 $spacing-4;
    }

    &--success {
        background-color: var(--success-opacity);

        &.chip--outlined {
            border-color: var(--success);
        }
    }

    &--error {
        background-color: var(--error-opacity);

        &.chip--outlined {
            border-color: var(--error);
        }
    }

    &--warning {
        background-color: var(--warning-opacity);

        &.chip--outlined {
            border-color: var(--warning);
        }
    }

    &--info {
        background-color: var(--info-opacity);

        &.chip--outlined {
            border-color: var(--info);
        }
    }
}

.children-wrapper {
    flex-shrink: 0;
}

.delete-button {
    flex-shrink: 0;
    padding: $spacing-0-5;
}
