.from-to-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.from-to-item-link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.from-to-item-link {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding: 0 !important;
}

.from-to-entity-details {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    max-width: fit-content;
}

.from-to-entity-name {
    &--disabled {
        color: var(--disabled-text) !important;
    }

    &--active {
        color: var(--hover) !important;
    }
}

.updated-balance {
    color: var(--foreground-opacity) !important;
}

.arrow-icon-wrapper {
    align-self: center;
}
