@import 'styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    font-weight: 700;
}

.currency {
    span {
        font-weight: 700;
    }
}

.subcategories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subcategory {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.subcategory-menu {
    margin-left: auto;
}
