@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.tooltip {
    // position: relative;
    z-index: $zindex-tooltip;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.text {
    --background-color: var(--foreground-opacity);
    --arrow-size: 0.4rem;

    @include hidden-animated-element();

    position: absolute;
    width: max-content;
    max-width: 12.5rem;
    height: fit-content;
    padding: 0.2rem 0.4rem;
    border-radius: $border-radius-md;
    text-align: center;
    color: var(--background);
    background-color: var(--background-color);

    &--open {
        @include visible-animated-element();
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
    }

    &--bottom,
    &--top {
        &::before {
            left: 50%;
            border-left: var(--arrow-size) solid transparent;
            border-right: var(--arrow-size) solid transparent;
        }
    }

    &--bottom {
        translate: 0 25%;

        &::before {
            top: 0;
            border-bottom: var(--arrow-size) solid var(--background-color);
            translate: -50% -100%;
        }
    }

    &--top {
        translate: 0 -225%;

        &::before {
            bottom: 0;
            border-top: var(--arrow-size) solid var(--background-color);
            translate: -50% 100%;
        }
    }

    &--bottom-left {
        translate: -90% 20%;

        &::before {
            top: 0;
            right: 0;
            border-bottom: var(--arrow-size) solid var(--background-color);
            border-left: var(--arrow-size) solid transparent;
            translate: 20% -20%;
            rotate: -90deg;
        }
    }
}
