@import 'styles/extends.scss';

.header-spacing {
    @extend .header-spacing-extend;
}

.sidebar-layout {
    @extend .sidebar-layout-extend;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
