@import 'styles/extends.scss';

.not-found-wrapper {
    @extend .full-screen-except-header-min-height-extend;
    display: flex;
    justify-content: center;
    align-items: center;

    .not-found-text-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .not-found-divider {
        height: auto;
        align-self: stretch;
    }
}
